<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <select name="" id="" onchange="zt(this)" style="width: 100px;">
        <option value="a">text1</option>
        <option value="b">text2</option>
        <option value="c">text3</option>
    </select>
    <audio id="bgmMusic" src="music/a.mp3" autoplay="autoplay" loop="loop" preload="auto" type="audio/mp3"></audio>
</body>
<script src="hqj/jquery-3.2.1.min.js"></script>
<script src="hqj/hqj.js"></script>

</html>